.accountbook {
  width: 28%;
  position: fixed;
  top: 22.5%;
  left:26%;
  z-index: 5;
  animation: float 2s ease-in-out infinite;
}


.tower {
  width: 35%;
  position: fixed;
  top: 70%;
  left: 23%;
}

.createcontainer {
  background-color: black;
}

.createtitle {
  position: fixed;
  top: 10%;
  left: 37%;
  letter-spacing: 5px;
  color: white;
  font-family: 'SF_HambakSnow';
  z-index: 15;
  animation: appear .5s ease 1.5s forwards;
  opacity: 0;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}


@keyframes appear {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}


@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*********************************************************/

html,
body {
height: 100vh;
overflow: hidden;
}

.container1 {
position: relative;
min-height: 210vh;
padding-right: 0;
padding-left: 0;
margin-left: 0;
margin-right: 0;
}

.container2 {
position: relative;
min-height: 210vh;
padding-right: 0;
padding-left: 0;
margin-left: 0;
margin-right: 0;
}

.row {
display: flex;
flex-wrap: wrap;
height: 100vh;
}

.col {
width: 160%;
height: -50%;
}

.align-items-center {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.plus {
  width: 12%;
  margin-right: 13px;
  margin-bottom: 8px;
}

.createBtn {
cursor: pointer;
padding-top: 7px;
padding-left: 10px;
width: 17%;
border-radius: .5rem;
border: none;
background-color: black;
color: white;
outline: none;
font-family: 'SF_HambakSnow';
letter-spacing: 5px;
font-size: 23px;
position: fixed;
top: 55%;
left: 63%;
z-index: 18;
animation: appear 1s ease 1.5s forwards;
opacity: 0;
}

.createBtn:hover {
border-radius: 50px;
color: white;
background-color: rgb(107, 162, 146);
box-shadow: rgba(107, 162, 146, 100) 0px 0px 500px;
font-family: 'SF_HambakSnow';
letter-spacing: 5px;
font-size: 23px;
z-index: 18;
}


.forms p {
margin: 1rem 0;
}

.flex-col {
flex-direction: column;
}

.pointer {
cursor: pointer;
}

.container1.sign-in .forms.sign-in,
.container1.sign-in .social-list.sign-in,
.container1.sign-in .social-list.sign-in>div,
.container1.sign-up .forms.sign-up,
.container1.sign-up .social-list.sign-up,
.container1.sign-up .social-list.sign-up>div {
transform: scale(1.1);
}


.content-row {
position: absolute;
top: 0;
left: 0;
pointer-events: none;
z-index: 6;
width: 100%;
}


.text {
margin: 4rem;
color: var(--white);
}

.text label {
margin: 2rem 0;
transition: 1s ease-in-out;
color: white;
}

.text p {
transition: 1s ease-in-out;
transition-delay: .1s;
}

.img img {
width: 30vw;
transition: 1s ease-in-out;
transition-delay: .1s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
transform: translateX(-280%);
position: absolute;
color: white;
font-family: "Roboto", sans-serif;
left: 150px;
flex-wrap: wrap;
transition-delay: 1s;
}

.container1.sign-in .text.sign-in h2,
.container1.sign-in .text.sign-in p,
.container1.sign-in .img.sign-in img,
.container1.sign-up .text.sign-up h2,
.container1.sign-up .text.sign-up p,
.container1.sign-up .img.sign-up img {
transform: translateX(0);
}

/* BACKGROUND */

.curtain {
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.container1::before {
content: "";
position: absolute;
top: 0;
right: 50%;
height: 120vh;
width: 250vw;
transform: translate(0, -10%);
background-image: url('/assets/초록커튼.png');
transition: 2s ease-in-out;
z-index: 6;
border-bottom-right-radius: max(0vw, 0vh);
}

.container1.sign-up::before {
transform: translate(0, 0);
top: -5%;
right: 85%;
}

.container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 120vh;
  width: 250vw;
  transform: translate(0, -10%);
  background-image: url('/assets/초록커튼.png');
  transition: 2s ease-in-out;
  z-index: 6;
  border-bottom-left-radius: max(0vw, 0vh);

}
  
  .container2.sign-up::before {
  transform: translate(0, 0);
  top: -5%;
  left: 80%;
  }
