.dropdown {
    width: 110%;
    cursor: pointer;
    background-color: none;
    color: white;
    border-radius: 50px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    padding-left: 13%;
}

.dropdown:hover {
    color: rgb(107, 162, 146);
    font-weight: 800;
}
