.backBtn {
  z-index: 23;
  position: fixed;
  top: 55%;
  left: 18%;
  width: 2%;
  opacity: 0;
  cursor: pointer;
  animation: appear 1s ease 1.5s forwards;
}

.userpagemodifycontainer {
  background-color: black;
}

.userpagemodifytitle {
  position: fixed;
  top: 10%;
  left: 37%;
  letter-spacing: 5px;
  color: white;
  font-family: 'SF_HambakSnow';
  z-index: 15;
  animation: appear .5s ease 1.5s forwards;
  opacity: 0;
}

@keyframes appear {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}


@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.genderdropdown input {
  outline: none;
  box-shadow: none;
  border: none;
  margin-left: -4px;
  cursor: pointer;
}

.genderdropdown {
  
  margin-top: 4.5%;
  display: flex;
  justify-content: space-between;
}

.genderdropdown input:focus,
.genderdropdown input:active,
.genderdropdown input:hover {
  outline: none;
  box-shadow: none;
  border: none;
}

small {
  color: gray;
}

/*********************************************************/

html,
body {
height: 100vh;
overflow: hidden;
}

.container1 {
position: relative;
min-height: 210vh;
padding-right: 0;
padding-left: 0;
margin-left: 0;
margin-right: 0;
}

.container2 {
position: relative;
min-height: 210vh;
padding-right: 0;
padding-left: 0;
margin-left: 0;
margin-right: 0;
}

.row {
display: flex;
flex-wrap: wrap;
height: 100vh;
}

.col {
width: 160%;
height: -50%;
}

.align-items-center {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.form.sign-up {
display: flex;
flex-direction: column;
padding: 0.5% 5%;
padding-top: 10px;
background-color: var(--white);
border-radius: 1rem;
width: 500px;
box-shadow: rgba(255, 255, 255, 1) 0px 0px 200px;
transform: scale(0);
transition: .5s ease-in-out;
transition-delay: 1s;
margin-bottom: 10vh;
margin-top: 180px;
margin-right: 870px;
font-size: 80%;
font-family: "Roboto", sans-serif;
letter-spacing: 1px;
z-index: 11;
}


.input-group {
width: 250px;
}

.input-group input {
width: 100%;
padding: 6% 0%;
background-color: black;
border-radius: .5rem;
border: 0.3rem solid var(--black);
outline: none;
color: white;
}

.form button {
cursor: pointer;
width: 100%;
padding: 9px;
margin-bottom: 100px;
margin-top: 5%;
border-radius: .5rem;
border: none;
background-color: black;
color: white;
outline: none;
font-family: 'SF_HambakSnow';
letter-spacing: 5px;
font-size: medium;
}

.form button:hover {
border-radius: 50px;
color: white;
background-color: rgb(47, 89, 73);
font-family: 'SF_HambakSnow';
letter-spacing: 5px;
font-size: medium;
}

.form p {
margin: 1rem 0;
}

.flex-col {
flex-direction: column;
}

.pointer {
cursor: pointer;
}

.container1.sign-in .form.sign-in,
.container1.sign-in .social-list.sign-in,
.container1.sign-in .social-list.sign-in>div,
.container1.sign-up .form.sign-up,
.container1.sign-up .social-list.sign-up,
.container1.sign-up .social-list.sign-up>div {
transform: scale(1.1);
}


.content-row {
position: absolute;
top: 0;
left: 0;
pointer-events: none;
z-index: 6;
width: 100%;
}


.text {
margin: 4rem;
color: var(--white);
}

.text label {
margin: 2rem 0;
transition: 1s ease-in-out;
color: white;
}

.text p {
transition: 1s ease-in-out;
transition-delay: .1s;
}

.img img {
width: 30vw;
transition: 1s ease-in-out;
transition-delay: .1s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
transform: translateX(-280%);
position: absolute;
color: white;
font-family: "Roboto", sans-serif;
left: 150px;
flex-wrap: wrap;
transition-delay: 1s;
}

.container1.sign-in .text.sign-in h2,
.container1.sign-in .text.sign-in p,
.container1.sign-in .img.sign-in img,
.container1.sign-up .text.sign-up h2,
.container1.sign-up .text.sign-up p,
.container1.sign-up .img.sign-up img {
transform: translateX(0);
}

/* BACKGROUND */

.curtain {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.container1::before {
content: "";
position: absolute;
top: 0;
right: 50%;
height: 120vh;
width: 250vw;
transform: translate(0, -10%);
background-image: url('/assets/초록커튼.png');
transition: 2s ease-in-out;
z-index: 6;
box-shadow: rgba(15, 15, 15, 15) 0px 5px 75px;
border-bottom-right-radius: max(0vw, 0vh);
}

.container1.sign-up::before {
transform: translate(0, 0);
top: -5%;
right: 85%;
}

.container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 120vh;
  width: 250vw;
  transform: translate(0, -10%);
  background-image: url('/assets/초록커튼.png');
  transition: 2s ease-in-out;
  z-index: 6;
  box-shadow: rgba(15, 15, 15, 15) 0px 5px 75px;
  border-bottom-left-radius: max(0vw, 0vh);
  }
  
  .container2.sign-up::before {
  transform: translate(0, 0);
  top: -5%;
  left: 82%;
  }
